.profile-wraper , .profile-head , .info-wraper{
    background-color: var(--theme-background) !important;
    color: var(--theme-color) !important;
    border: var(--theme-border-style-style) !important;
}
.profile-title ,.action-title{
    color: var(--theme-color) !important;
}
.profile-wraper input {
    background-color: var(--theme-background) !important;

}
.image_wraper{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.image_wraper img {
    width: 150px;
    cursor: pointer;
}

/* .update-image-btn{
    color: var(--theme-color) !important;
} */