 .profile-head{
    margin-top: 20px;
}
body.light .profile-head {
    box-shadow: var(--box-shadow);
}
 .profile-head , .info-wraper,.delete-form{
    background-color: var(--theme-background) !important;
    color: var(--theme-color) !important;
    border: var(--theme-border-style-style) !important;
}
.profile-title ,.action-title , .cancel-btn{
    color: var(--theme-color) !important;
}
input {
    background-color: var(--theme-background) !important;
    color: var(--theme-color) !important;

}
.image_wraper{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.image_wraper img {
    width: 150px;
    cursor: pointer;
}

/* .update-image-btn{
    color: var(--theme-color) !important;
} */