

.iamge_table{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.website_link 
{
    color: #3F51B5;
    text-decoration: underline;
}
.delete-all{
    visibility: hidden;
}
