* {
  font-size: 62, 5%;
  box-sizing: border-box;
  margin: 0;
   text-decoration: none;
}

a {
  text-decoration: none;
  
}
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #fbfaff;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}



/* navbar */
/* pure CSS animated navbar */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}


header {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
  background: royalblue;
}

nav {
  min-width: 28rem;
  background: white;er
  color: #0e0e0e;
  border-radius: 100vw;
}

nav ul {
  padding: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  isolation: isolate;
}

nav ul li a {
  color: #0e0e0e;
  text-decoration: none;
  padding: 1.5rem;
  font-weight: 700;
}

.selectedLink {
  position: absolute;
  width: 1.5rem;
  aspect-ratio: 1/1;
  background: royalblue;
  border-radius: 50%;
  z-index: -1;
  top: 0;
  left: 12px;
  transition: transform 0.5s ease;
}

.selectedLink .side {
  background: royalblue;
  width: 1.5rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  border-radius: 0 0 0 100%;
}

.side.left {
  left: -50%;
}

.side.right {
  right: -50%;
  transform: rotateY(180deg);
}

.selectedLink .outside {
  background: royalblue;
  width: 1.5rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  z-index: 9999;
  clip-path: polygon(79% 25%, 30% 0, 100% 0, 100% 100%);
}

.outside.left {
  left: -140%;
}

.outside.right {
  right: -140%;
  transform: rotateY(180deg);
}

.selectedLink .outside::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -9999;
  background: white;
  border-radius: 0 100% 0 0 / 0 50% 0 0;
}

.selectedLink .dot {
  position: absolute;
  width: 0.5rem;
  aspect-ratio: 1/1;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* navbar */
.container {
  /* height: 100%; 
   margin-bottom: 70px; */
   overflow-y: scroll;
}

main {

  margin-top: 60px;
margin-bottom: 130px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.share {
  width: 4.5rem;
  height: 3rem;
  background-color: #f55e77;
  border: 0;
  border-bottom: 0.2rem solid #c0506a;
  border-radius: 2rem;
  cursor: pointer;
}

.share:active {
  border-bottom: 0;
}

.share i {
  color: #fff;
  font-size: 2rem;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  color: #141a39;
  
  cursor: default;
}

#leaderboard {
  width: 100%;
  position: relative;
}

.wraper {
    width: 100%;
}
.inside_Wraper{
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
    justify-content: center;
    align-items: center;
    margin: 11px 5px;
    padding: 5px;
    /* height: 80px; */
    font-size: 26px;
}

.inside_Wraper:hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

.inside_Wraper:nth-child(odd) {
  background-color: #f9f9f9;
}

.inside_Wraper:nth-child(1) {
  color: #fff;
  top: -0.5rem;
  background-color: #5c5be5;
  left: -0.5rem;
  -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
  transform: scale(1.1);

}
.inside_Wraper:nth-child(1)::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    /* z-index: -1; */
  }
  
  .inside_Wraper:nth-child(1)::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    /* z-index: -1; */
  }
.inside_Wraper a {
    text-decoration: none;
    color: #141a39;
}
.inside_Wraper:nth-child(1) a {
  color: #fff;


}
.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.name_number , .rating_points {
    justify-content: center;
    align-items: center;
}
td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  /* width: 1rem; */
  font-size: 2.2rem;
  font-weight: bold;
  /* text-align: left; */
  margin-right: 10px;
}
.inside_Wraper:nth-child(1) a {
    color: #fff;
  
  }

.name {
  /* text-align: left; */
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.wrating_wraper{
    text-align: end;
}
.points {
  font-weight: bold;
  font-size: 1.3rem;
  width: 40px;
  display: inline-block;
  
}

.points:first-child {
  width: 10rem;
}

.gold-medal {
  height: 3rem;
  margin-left: 1.5rem;
}





.buttons {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    /* gap: 2rem; */
    margin-bottom: 15px;
}
.buttons .btn{
  margin-bottom: 15px;
}


.rating {
margin: 0 5px;
    display: inline-block;
    position: relative;
    height: 24px;
    overflow: hidden;
    width: 110px;


}

.rating .sub1 , .rating .sub2 {

    position:  absolute;
    left: 0;

    font-size: 0.7em;
}
.rating .sub1 {
    color: #90A0A3;
}
.rating .sub2 {
    color: orange;
}
.modal-body{
  position: relative;
  padding: 40px;
}

.link_body 
{
  display: flex;
  color: #fff;
max-height: 150px;
    font-weight: bold;
    font-size: 40px;
    overflow: hidden;
  }

  .clicked_profile{
    background-position: center center;
    background-repeat: no-repeat;
  }

  .link_body:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
.hover_span {
  cursor: pointer;
}
.xbox{
  margin-top: 35px;
  display: none;
  width: 100%;
  -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.xbox.show{
  width: 100%;
  display: block;
  text-align: center;
  z-index: 100;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
iframe {
  padding: 1;
  text-indent: 3;
  border: none;
  /* margin-left: 43px; */
}


figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
figure > * {
  grid-area: 1/1;
  transition: .4s;
}
figure figcaption {
  display: grid;
  align-items: start;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
   -webkit-mask: none;
   color: #fff;
  }
}

/* spinner */
.spinner {
  position: fixed;
  z-index: top;
  background: #fff;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: none;
}
.spinner_wraper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #4494ff;
	color: #fff;
	text-align: center;
}
.footer i {
  color: #f55e77;
}



/* editor modal */
.html_code,.html_code.focus{
  background-color: #00262b !important;
  color: #fff !important;
}
.html_preview_div{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  /* padding-left: 15px !important; */
  padding: 1;
}

.modal-content {
      margin: 30px auto;
}
.run {
  margin-bottom: 15px;
}
