.breadcrumb{
  background-color: var(--theme-background);
  color: var(--theme-color);
  border: var(--theme-border-style-style);
  margin-top: 52px
}
body.light .breadcrumb{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}

/* article */
.accordion .card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  margin-bottom: 35px;
  border-bottom: 1px solid #9E9E9E !important;
}
.accordion .card-body , .list-group-flush .list-group-item ,.question{
  background-color: var(--theme-background) !important;
  color: var(--theme-color) !important;
  border: var(--theme-border-style-style) !important;
  padding: 35px;
}
.accordion h2 {
  border: none !important;
}
.accordion .btn-link{
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  border: none !important;
}
.header .box-title{
  color: #ffff;
}
.accordion .btn-link.focus{

  border: none !important;
}
.accordion .btn.focus{

  border: none !important;
}
.accordion .card-body{
  background-color: #fff;
}
    
 
.marked{
    color: #f0cc00;
    font-weight: 700;

}

.question{
    color: #00262b;
    font-weight: 700;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0;
}

.image {
    max-width: 100%;
}
pre{
    display: block; 
	padding: 3px 3px 2px; 
	font-size: 14px; 
	line-height: 20px;
	width: 100%;
	background-color: #333;
	font-family: arial;
	color: #f7f7f7;
	font-weight: bold;
}




/* editor modal */
.html_code,.html_code.focus{
  background-color: var(--theme-background) !important;
  color: var(--theme-color) !important;
  border: var(--theme-border-style-style) !important;
}
body.light .html_code,.html_code.focus{
  background-color: #00262b !important;
  color: #f7f7f7 !important;
}
.html_preview_div{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  /* padding-left: 15px !important; */
  padding: 1;
  background-color: #eee !important;
  color: var(--theme-color) !important;
  border: var(--theme-border-style-style) !important;
  
}

.modal-content {
      margin: 30px auto;
}
.try-editor {
  margin-bottom: 15px;
}
.modal-body{
  background-color: var(--theme-background);
  color: var(--theme-color);
  border: var(--theme-border-style-style);

}

 