:root {
    /* toaster */
    --dark-toast: #34495e;
    --light-toast: #fff;
    --success-toast: #0abf30;
    --error-toast: #f24d4c;
    --warning-toast: #e9bd0c;
    --info-toast: #3498db;

  }

  
    /* dark mode */

  




