
/* student page */
.image-box ,.image-edit-box{
	max-width: 200px !important;
}
.image-wraper{
    text-align: center;
}
.image-box.hide
{
    display: none;
}
.image-edit-box{
    cursor: pointer;
}
.iamge_table{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.website_link 
{
    color: #3F51B5;
    text-decoration: underline;
}

.delete-all{
    display: none;
}
/* student page */
