
body.light{
  background:url("../../images/dot.png") repeat !important;
  overflow-x: hidden;
}


.container .card-wraper {
  /* font-size: 5vw; */
  display: grid;
  grid-template-columns: repeat(1,1fr);
  transform-origin: top left;
  transform: skewY(4.398705355deg);
  margin: 190px 25% 100px 2%;
  list-style: none;
}
.container .card-wraper li{
  transform-origin: top left;
  transform: skewY(-4.398705355deg) rotatez(-14.03624deg);
  padding-top: 150%;
  z-index: 1;
  transition-property: z-index;
  transition-duration: .3s;
}
.details{
  position: absolute;
  z-index: 2;
  width: 95%;
  height: 95%;
  top: 0;
  background-color: #53b3cb;
  border-radius: 2vw;
  -webkit-filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  transform: rotate(0deg) translate(0, 0);
  transition-property: transform;
  transition-duration: .3s;
}



.container .card-wraper li:nth-child(3n+1) .details{
  background-color: #f9c22e;
}
.container .card-wraper li:nth-child(3n+2) .details{
  background-color: #35ce8d;
}
.product{
  position: absolute;
  z-index: 3;
  width: 88%;
  height: 85%;
  top: 0;
  transform: translateX(6.5%) translateY(5%);
  border-radius: 1.2vw;
  background:#001a23;
  overflow: hidden;
}
.container .card-wraper h2, .container .details p,.container .details img {
   position: absolute;
  z-index: 4;
}
.container .card-wraper h2,.container .details p {
  background-color: #53b3cb;
  padding: 3px;
}
.container .card-wraper li:nth-child(3n+1) h2,.container .card-wraper li:nth-child(3n+1)  p{
  background-color: #f9c22e;
}
.container .card-wraper li:nth-child(3n+2) h2,.container .card-wraper li:nth-child(3n+2)  p{
  background-color: #35ce8d;
}

.container .card-wraper h2{
  top: 3.5%;
  left: 4%;
  font-size: 1rem;
}
.heart_rating ,.love-points{
/* font-size: 1rem; */
color: var(--heart-icon-color);
}

.container .card-wraper p.points ,.container .card-wraper p.age ,.container .card-wraper p.country{
  bottom: 0;
  right:0%;
  /* font-size: 1.2em; */
}
.container .card-wraper p.points{
  margin-bottom:  115px;
}
.container .card-wraper p.age {
  margin-bottom: 35px;
  /* font-size: 1.2em; */
}

.container .card-wraper p.country {
  margin-bottom: 75px;
  /* font-size: 1.2em; */
}
.container .card-wraper p.website{
  font-size: 0.9em;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.container .card-wraper img{
  height: 110%;
  left: 50%;
  transform: translateX(-50%) translateY(-2%);
  transition-property: height,transform;
  transition-duration: .3s;
}

.container .card-wraper li:hover{ 
  z-index: 4;
}
.container .card-wraper li:hover .details{ 
  transform: rotate(14.03624deg) translate(0%, 10%);
}
.container .card-wraper li:hover img{ 
  height: 140%;
  transform: translateX(-50%) translateY(-14%);
}
/* 

    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
*/

@media (min-width: 300px) and (max-width: 480px) { 

  .container .card-wraper {
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 3vw;
    margin: 140px 14vw 60px 2vw;
  }
  .container .card-wraper p.points{
    margin-bottom:  125px;
  }
  .container .card-wraper p.age {
    margin-bottom: 45px;
    /* font-size: 1.2em; */
  }

  .container .card-wraper p.country {
    margin-bottom: 85px;
    /* font-size: 1.2em; */
  }
  .container .card-wraper p.points ,.container .card-wraper p.age ,.container .card-wraper p.country{
    right:6%;
    /* font-size: 1.2em; */
  }
}

@media (min-width: 481px) and (max-width: 768px) { 

 .container .card-wraper {
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 7vw;
    margin: 8vw 140px 60px 1vw;
    grid-row-gap: 15vw;
  }
  .container .card-wraper p.points ,.container .card-wraper p.age ,.container .card-wraper p.country{
    right:6%;
    /* font-size: 1.2em; */
  }
 
}


@media (min-width: 769px) and (max-width: 1024px) { 

  .container  .card-wraper 
    {
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5vw;
    margin: 140px 9.5vw 60px 0.5vw;
  }
  .container .card-wraper p.points ,.container .card-wraper p.age ,.container .card-wraper p.country{
    right:6%;
    /* font-size: 1.2em; */
  }
}

 @media (min-width: 1025px) { 

  .container  .card-wraper {
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1vw;
    margin: 4.5vw 6vw 0 0.5vw;
  }
  .container .card-wraper p.points ,.container .card-wraper p.age ,.container .card-wraper p.country{
    right:6%;
    /* font-size: 1.2em; */
  }
}
/*  
@media (min-width:1500px) { 
  body{
    font-size: 1vw;
  }
  .card-wraper {
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 1vw;
    margin: 4vw 6vw 0 0.5vw;
  } */
