:root {
    --body--color: #fbfcfc;
    --main-color: #ffffff;
    /* --first-color: #16a085; */
    --first-color: #427caa;
    --second-color: #414141;
    --second-color-alt: #313131;

    --heart-icon-color : #c0506a;
    --whatsup-icon-color : #075E54
    ;


    --sm-fontsize :  16px;
    --md-fontsize : 20px;
    --lg-fontsize : 25px;
    
  }