
.notifications-toaster {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: var(--z-index-toast);
  background-color: white;
}

.notifications-toaster :where(.toast-li, .column) {
  display: flex;
  align-items: center;
  justify-content: center;;
}

.notifications-toaster .toast-li {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light-toast);
  color: black;
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Poppins', sans-serif;
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10%);
  }
}

.notifications-toaster .toast-li.hide {
  animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10%);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}

.notifications-toaster .toast-li::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

.notifications-toaster .toast-li.success::before,
.btn#success {
  background: var(--success-toast);
}

.notifications-toaster .toast-li.error::before,
.btn#error {
  background: var(--error-toast);
}

.notifications-toaster .toast-li.warning::before,
.btn#warning {
  background: var(--warning-toast);
}

notifications-toaster .toast-li.info::before,
.btn#info {
  background: var(--info-toast);
}

.notifications-toaster .toast-li .column i {
  font-size: 1.75rem;
}

.notifications-toaster .toast-li.success .column i {
  color: var(--success-toast);
}

.notifications-toaster .toast-li.error .column i {
  color: var(--error-toast);
}

.notifications-toaster .toast-li.warning .column i {
  color: var(--warning-toast);
}

.notifications-toaster .toast-li.info .column i {
  color: var(--info-toast);
}

.notifications-toaster .toast-li .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}

.notifications-toaster .toast-li i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}

.notifications-toaster .toast i:last-child:hover {
  color: var(--dark-toast);
}



@media screen and (max-width: 530px) {
  .notifications-toaster {
    width: 80%;
  }

  .notifications-toaster .toast-li {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }


}


/* hide toast automatic in flash messages */
.notifications-toaster .toast-li.hide-session {
  animation: hide_toast_session 0.3s ease 1.5s forwards;
}

@keyframes hide_toast_session {
  0% {
    transform: translateX(-10%);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}